*,
*::before,
*::after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin: 0;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-body;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: $ff-main;

  &.galerry-opened {
    overflow-y: hidden;
  }
}
.center {
  text-align: center;
}
.relative {
  position: relative;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}