@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$ff-main: 'Montserrat', sans-serif;
